
<div class="row justify-content-center flex-column">
  <h2 class="txt-undeline">Show Profile</h2>
  <% if @profile %>
    <div class="card">
        <img class="card-img-top img-card" src="https://www.shareicon.net/download/2016/09/23/833978_people_512x512.png" alt="waiter img">
        <div class="card-body">
          <div class="col-12 flex-end">
            <p class="title-purple">
              Edit
              <%= link_to edit_profile_path(@profile) do %>
              <i class="fas fa-edit icon-crud"></i>
              <% end %>
            </p>
          </div>

          <h5 class="card-title"><p class="title-purple"> Profile: </p> <%= @profile.id %></h5>
          <p class="card-text"><p class="title-purple"> Name: </p> <%= @profile.name.to_s + " " +@profile.last_name.to_s %></p>
          <p class="card-text"><p class="title-purple"> Email: </p> <%= @profile.user.email %></p>
          <p class="card-text"><p class="title-purple"> Job: </p> <%= @profile.rol %> </p>
          <p class="card-text"><p class="title-purple"> Salary:  </p> <%= @profile.salary %> </p>
          <p class="card-text"><p class="title-purple"> job start date:  </p> <%= @profile.created_at %> </p>

        </div>
    </div>
    <div class="col-12 cont-btn-yummi" style="margin-top:20px">
      <%= button_to "Back to orders", orders_path, :method => "get", class: 'btn btn-yummi' %>
     </div>
    <!-- <%= link_to "Editar", edit_profile_path(@profile)  %> -->
  <%else %>
    <%= link_to "Crear", new_profile_path %>
  <% end %>
</div>
