<!-- <div class="container-fluid">
  <div class="row">
    <div class="hipster-box justify-content-center"><p class="">Order</p></div>
  </div> -->
    <!-- <%= @order.inspect %> -->
  <div class="row justify-content-center">
    <div class="card">
      <img class="card-img-top" src="https://thumbs.dreamstime.com/b/placa-con-los-pescados-la-bifurcaci%C3%B3n-el-cuchillo-y-el-sombrero-de-los-cocineros-tarjeta-del-men%C3%BA-plato-de-la-comida-del-72521675.jpg" alt="Card image cap">
      <div class="card-body">

        <div class="col-12 flex-end">
          <p class="title-purple">
            Edit
            <%= link_to edit_order_path(@order) do %>
            <i class="fas fa-edit icon-crud"></i>
            <% end %>
          </p>
        </div>


        <h5 class="card-title"><p class="title-purple"> Order: </p> <%= @order.id %></h5>
        <p class="card-text"><p class="title-purple"> Waiter: </p> <%= @order.profile.name.to_s + " " +@order.profile.last_name.to_s %></p>
        <p class="card-text"><p class="title-purple"> Order at: </p>Order at: <%= @order.created_at %> </p>
        <p class="card-text"><p class="title-purple"> Updated at:  </p> <%= @order.updated_at %> </p>
      </div>
      <div class="col-12 cont-btn-yummi">
        <%= button_to "Back to orders", orders_path, :method => "get", class: 'btn btn-yummi' %>
       </div>
    </div>


  </div>


</div>
